// Paragon Firewall Community Edition
// Copyright (C) 2019-2020  Paragon Software GmbH
//
// This file is part of Paragon Firewall Community Edition.
//
// Paragon Firewall Community Edition is free software: you can
// redistribute it and/or modify it under the terms of the GNU General
// Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// Paragon Firewall Community Edition is distributed in the hope that it
// will be useful, but WITHOUT ANY WARRANTY; without even the implied
// warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
// the GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Paragon Firewall Community Edition. If not, see
//   <https://www.gnu.org/licenses/>.
//
// Created by Alexey Antipov on 03.10.2019.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../FirewallApp/Config.xcconfig"

HEADER_SEARCH_PATHS = $(PROJECT_DIR)/nf/include $(PROJECT_DIR)/../libs/mcom $(PROJECT_DIR)/../libs/mach

CLANG_CXX_LANGUAGE_STANDARD = gnu++17

WARNING_CFLAGS = $(inherited) -Werror=missing-prototypes

OTHER_CPLUSPLUSFLAGS = $(inherited) -ftemplate-backtrace-limit=0
